<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        SkyCat | JTK No.1
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description"
          content="A new generation of web-labeling platform."/>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/lity.min.css">
    <link rel="stylesheet" href="../static/css/flaticon.css">
    <link rel="stylesheet" href="../static/css/line-awesome.min.css">
    <link rel="shortcut icon" href="../static/img/logo.png"/>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
<div class="wrapper">
    <!-- wrapper -->
    <section class="section section--header">
        <!-- section -->
        <header>
            <!-- header -->
            <div class="content">
                <div class="header__handler">
                    <a href="index.html">
                        <!--    <img src="../static/assets/img/metronic_whitelogo.png" alt="Metronic"> -->
                    </a>
                </div>
                <div class="header__references">
                    <a href="./register.html" class="header__references_support" target="_blank">
                        Signup
                    </a>
                    <a href="./login.html" class="header__references_purchase" target="_blank">
                        Login
                    </a>
                </div>
            </div>
        </header>
        <!-- header END -->
        <div class="content">
            <!-- content -->
            <div class="intro">
                <!-- intro -->
                <img src="../static/img/logoall.png" alt="Metronic">
                <h2 class="intro__title">
                    A new generation of web-labeling platform
                </h2>
            </div>
            <!-- intro END -->

        </div>
        <!-- content END -->
    </section>
    <!-- section END -->

    <div id="footer">
        <h6 class="copyright">2018 &copy; Copyright | Made by SkyCat</h6>
        <h6 class="privacy">Privacy</h6>
        <h6 class="about">About</h6>
        <div style="clear: both"></div>
    </div>
</div>
<!-- wrapper END -->
<div class="cover-layout"></div>
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/tether.min.js"></script>
<script src="../static/js/popper.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/lity.min.js"></script>
<script src="../static/js/fixedfixed.js"></script>
<script src="../static/js/fixedsticky.js"></script>
<script src="../static/js/custom.js"></script>
</body>
</html>
