<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        SkyCat | JTK No.1
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description"
          content="A new generation of web-labeling platform."/>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/lity.min.css">
    <link rel="stylesheet" href="../static/css/flaticon.css">
    <link rel="stylesheet" href="../static/css/line-awesome.min.css">
    <link rel="shortcut icon" href="../static/img/logo.png"/>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
<div class="wrapper">
    <!-- wrapper -->
    <section class="section section--header">
        <!-- section -->
        <header>
            <!-- header -->
            <div class="content">
                <div class="header__handler">
                    <a href="index.html">
                        <!--    <img src="../static/assets/img/metronic_whitelogo.png" alt="Metronic"> -->
                    </a>
                </div>
                <div class="main__menu_wrap">
                    <!-- main__menu_wrap -->
                    <ul class="main__menu">
                        <li class="main__menu__item">
                            <a href="#1">
                                HomePage
                            </a>
                        </li>
                        <li class="main__menu__item">
                            <a href="#2">
                                Details
                            </a>
                        </li>
                        <li class="main__menu__item">
                            <a href="#3">
                                Evaluation
                            </a>
                        </li>
                        <li class="main__menu__item">
                            <a href="#4">
                                Properties
                            </a>
                        </li>
                        <li class="main__menu__item">
                            <a href="#5">
                                Purchase
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="header__references">
                    <a href="./register.html" class="header__references_support" target="_blank">
                        Signup
                    </a>
                    <a href="./login.html" class="header__references_purchase" target="_blank">
                        Login
                    </a>
                </div>
            </div>
        </header>
        <!-- header END -->
        <div class="content" id ="1">
            <!-- content -->
            <div class="intro">
                <!-- intro -->
                <img src="../static/img/logoall.png" alt="Metronic">
                <h2 class="intro__title">
                    A new generation of web-labeling platform
                </h2>
            </div>
            <!-- intro END -->

        </div>
        <!-- content END -->
    </section>
    <!-- section END -->

    <section class="section section--lightGray section--padding" id = "2">
        <!-- section -->
        <div class="content content--fluid" style="margin-top: 20px;">
            <div class="theme__row">
                <div class="theme__column">
                    <div class="theme__column_inner">
                        <div class="theme__column_top">
                            <h3>
                                Login & Sign Up
                                <span>
														- Both user and admin
													</span>
                            </h3>
                        </div>
                        <div class="theme__column_img">
                            <img src="../static/img/d_loginpage.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="theme__column">
                    <div class="theme__column_inner">
                        <div class="theme__column_top">
                            <h3>
                                User
                                <span>
														- Overview
													</span>
                            </h3>
                        </div>
                        <div class="theme__column_img">
                            <img src="../static/img/d_useroverview.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="theme__column">
                    <div class="theme__column_inner">
                        <div class="theme__column_top">
                            <h3>
                                User
                                <span>
														- Choose data set
													</span>
                            </h3>
                        </div>
                        <div class="theme__column_img">
                            <img src="../static/img/d_label.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="theme__row">
                <div class="theme__column">
                    <div class="theme__column_inner">
                        <div class="theme__column_top">
                            <h3>
                                User
                                <span>
														- Labeling
													</span>
                            </h3>
                        </div>
                        <div class="theme__column_img">
                            <img src="../static/img/d_labeling.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="theme__column">
                    <div class="theme__column_inner">
                        <div class="theme__column_top">
                            <h3>
                                Administrator
                                <span>
														- Publish
													</span>
                            </h3>
                        </div>
                        <div class="theme__column_img">
                            <img src="../static/img/d_publish.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="theme__column">
                    <div class="theme__column_inner">
                        <div class="theme__column_top">
                            <h3>
                                Administrator
                                <span>
														- Get user's information
													</span>
                            </h3>
                        </div>
                        <div class="theme__column_img">
                            <img src="../static/img/d_checkuser.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section section--bg" id="3">
        <!-- section -->
        <div class="content">
            <blockquote class="blockquote">
                I run a team of 20 product managers, developers, QA and UX resources. Previously we designed everything ourselves.
                For our newest platform we tried out SkyCat. I cannot overestimate the impact SkyCat has had. It's accelerated
                development 3x and reduced QA issues by 50%. If you add up the reduced need for design time/resources, the increase
                in dev speed and the reduction in QA, it's probably saved us $100,000 on this project alone, and I plan to use
                it for all platforms moving forward.
                <br>
                The flexibility of the design has also allowed us to put out a better looking &amp; working platform and reduced my
                headaches by 90%. Thank you KeenThemes!
                <span class="blockquote__author">
										Yuqun Zhang,
										<span>
											Professor from SUSTech CSE
										</span>
									</span>
            </blockquote>
        </div>
    </section>
    <section class="section section--white" id="4">
        <!-- section -->
        <div class="content content--padding">
            <div class="advantages">
                <!-- advantages -->
                <div class="advantages__block">
                    <i class="glyph-icon flaticon-open-box"></i>
                    <div class="advantages__block__content">
                        <h3>
                            Meet Your Needs
                        </h3>
                        <p>
                            Everything within SkyCat is customizable globally to provide limitless unique styled data labeling platform
                        </p>
                    </div>
                </div>
                <div class="advantages__block">
                    <i class="glyph-icon flaticon-web"></i>
                    <div class="advantages__block__content">
                        <h3>
                            Multi Roles
                        </h3>
                        <p>
                            Choose a perfect role for your own data set
                        </p>
                    </div>
                </div>
                <div class="advantages__block">
                    <i class="glyph-icon flaticon-layers"></i>
                    <div class="advantages__block__content">
                        <h3>
                            Limitless Upload
                        </h3>
                        <p>
                            A huge collection of methods to provide you upload your data
                        </p>
                    </div>
                </div>
                <div class="advantages__block">
                    <i class="glyph-icon flaticon-menu-button"></i>
                    <div class="advantages__block__content">
                        <h3>
                            Flask Support
                        </h3>
                        <p>
                            Uses flask as backend system which provides a security service
                        </p>
                    </div>
                </div>
                <div class="advantages__block">
                    <i class="glyph-icon flaticon-car"></i>
                    <div class="advantages__block__content">
                        <h3>
                            MySQL Database
                        </h3>
                        <p>
                            We design the database with high-performance SQL statement
                        </p>
                    </div>
                </div>
                <div class="advantages__block">
                    <i class="glyph-icon flaticon-interface-6"></i>
                    <div class="advantages__block__content">
                        <h3>
                            Similar to LabelBox
                        </h3>
                        <p>
                            Our super sleek and intuitive Label mode is similar to LabelBox
                        </p>
                    </div>
                </div>
                <!--<div class="advantages__block">-->
                    <!--<i class="glyph-icon flaticon-users"></i>-->
                    <!--<div class="advantages__block__content">-->
                        <!--<h3>-->
                            <!--60,000+ Strong-->
                        <!--</h3>-->
                        <!--<p>-->
                            <!--Metronic is the only theme trusted by over 60,000 developers world wide-->
                        <!--</p>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="advantages__block">-->
                    <!--<i class="glyph-icon flaticon-alert-1"></i>-->
                    <!--<div class="advantages__block__content">-->
                        <!--<h3>-->
                            <!--Continuous Updates-->
                        <!--</h3>-->
                        <!--<p>-->
                            <!--Lifetime updates with new demos and features is guaranteed-->
                        <!--</p>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="advantages__block">-->
                    <!--<i class="glyph-icon flaticon-truck"></i>-->
                    <!--<div class="advantages__block__content">-->
                        <!--<h3>-->
                            <!--Quality Code-->
                        <!--</h3>-->
                        <!--<p>-->
                            <!--Metronic is writer with a code structure that all developers will be able to pick up easily and fall in love-->
                        <!--</p>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
            <!-- grid__advantages END -->
        </div>
    </section>
    <section class="section section--bg" id="5">
        <!-- section -->
        <div class="content">
            <h2 class="title text-center" id = "goodbye">
                A new generation of web-labeling platform
            </h2>
            <div class="text-center">
                <a href="login.html" target="_blank" class="button">
                    Join Us Now
                </a>
            </div>
        </div>
    </section>
    <div id="footer">
        <h6 class="copyright">2018 &copy; Copyright | SkyCat</h6>
        <div style="clear: both"></div>
    </div>
</div>
<!-- wrapper END -->
<div class="cover-layout"></div>
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/tether.min.js"></script>
<script src="../static/js/popper.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/lity.min.js"></script>
<script src="../static/js/fixedfixed.js"></script>
<script src="../static/js/fixedsticky.js"></script>
<script src="../static/js/custom.js"></script>
</body>
</html>
